*{
    margin: 0;
    padding: 0;
}
body {
    background-image: url("https://i.pinimg.com/736x/14/23/fb/1423fb124764765d629e3fcf41a58d14.jpg");
    width: 100%;
    height: 100vh;
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    font-weight: 500;
    margin-top: 0px;
    margin-bottom: 0px;
    color: white;
}

.container{
    padding: 1rem;
    text-align: center;
    height: 60vh;
    width: 90%;
    max-width: 500px;
    background-color: rgba(141, 217, 245, 0.46);
    border-radius: 1rem;
}
.fa-sun{
    color: yellow;
    font-size: 20px;
    margin: 1rem 0 0 0;
}
.name{
    color: white;
    margin-top: 0px;
    font-size: x-large;
}

#sunImg{
    height: 10rem;
}
#inpt{
    padding-left: 1rem;
    height: 2rem;
    width: 50%;
    border-radius: 1rem;
    border: 2px solid pink;
}
#srhIcon{
    color: white;

}
button{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: rgba(249, 15, 15, 0.893);
    border: none;
}

.ws, .wsTag, .name, .h-code, .h-tag{
    color: white;
}

.wsTag, .h-tag{
    font-size: small;
}

.end{
    margin-top: 5rem;
    display: flex;
    justify-content: space-around;
}